@use "@/common/styles/_variables.scss" as *;
@use "@/common/styles/_mixins.scss" as *;

.default-input {
    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        width: 100%;
    }

    &__container {
        position: relative;
    }

    &__label {
        font-size: var(--font-size-small);
        margin-inline: .75rem auto;
    }

    &__input {
        width: 100%;
        border-radius: var(--border-radius-default);
        border: var(--border-style-default);
        padding: 0.5rem 1rem;
        color: var(--color-black);
        padding-right: 2.5rem;

        @include border-hover;

        &::placeholder {
            color: var(--color-gray);
        }

        &--error {
            border-color: var(--color-red);
        }

        &--disabled {
            pointer-events: none;
        }
    }

    &__progress-container {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        @include flex-center;
    }
}

.checkbox-input {
    &__wrapper {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: start;
        column-gap: 1.1rem;
        padding-block: 0.3rem;
    }

    &__label {
        position: relative;
        cursor: pointer;
        user-select: none;
    }

    &--custom {
        @include square(0);

        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked ~ .checkbox-input__checkmark {
            background-color: var(--color-black);
            box-shadow: var(--shadow-button);
            border: var(--border-style-black);

            &:after {
                display: block;
            }

            @keyframes checkAnim {
                0% {
                    height: 0;
                }

                100% {
                    height: 0.75rem;
                }
            }
        }
    }

    &__checkmark {
        @include square(1.5rem);

        position: absolute;
        top: -0.65rem;
        left: -1rem;
        background-color: var(--color-white);
        border: var(--border-style-default);
        border-radius: var(--border-radius-small);
        transition: background-color 0.3s;
        
        &--error {
            border-color: var(--color-red);
        }

        &::after {
            @include square(0.4rem);

            content: "";
            position: absolute;
            display: none;
            left: 0.5rem;
            top: 0.25rem;
            border: var(--border-style-white);
            border-width: 0 0.2rem 0.2rem 0;
            transform: rotate(45deg);
        }
    }
}

.checkbox-input--custom:checked ~ .checkbox-input__checkmark::after {
    animation: checkAnim 0.2s forwards;
}
