@use "@/common/styles/_variables.scss" as *;
@use "@/common/styles/_mixins.scss" as *;

.default-input {
    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: .3rem;
        width: 100%;
    }

    &__label {
        margin-inline: .3rem auto;
    }

    &__input {
        border-radius: var(--border-radius-default);
        border: var(--border-style-black);
    }
}